# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Stars_systems/v15/.suo
*.db
.vs/Stars_systems/v15/Browse.VC.opendb
*.ipch
*.log
*.ilk
*.pdb
*.tlog
*.idb
*.aps
*.filters
*.user
*.bmp
*.mp4
